.clearNotes {
	width: 100%;
	border-bottom: 1px solid white;
	padding: 10px 0;
	text-decoration: none;
	color: white;
	cursor: pointer
}

.clearNotes:hover {
	background-color: #C3DFE0;
	color: #0D0221
}